*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
	--teal: #47e5bb;
	--purple: #7d61f9;
	--deep-purple: #724cf9;
	--gray: #dfe9f7;
	--heather-blue: #6391dd;
	--robins-egg-blue: #66d3f4;
	--deep-plum: #281f51;
	--font: "Poppins", sans-serif;
}

html {
	height: 100%;
}

body {
	background-color: var(--gray);
	font-family: var(--font);
	height: 100%;
}

h1,
h2 {
	color: var(--deep-purple);
}

h2 {
	font-weight: 400;
}

header {
	display: flex;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
}

nav ul li {
	margin: 10px;
	border: none;
	padding: 5px 25px;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0px; 

	&:hover {
		cursor: pointer;
	}
}

.inactive-about {
	background-color: white;
	color: var(--heather-blue);
}

.active-about,
.inactive-about:hover,
#about-section {
	background-color: var(--heather-blue);
	color: white;
}

.inactive-vision {
	background-color: white;
	color: var(--deep-purple);
}

.active-vision,
.inactive-vision:hover,
#vision-section {
	background-color: var(--deep-purple);
	color: white;
}

.inactive-apply {
	background-color: white;
	color: var(--teal);
}

.active-apply,
.inactive-apply:hover,
#apply-section {
	background-color: var(--teal);
	color: white;
}

.inactive-contact {
	background-color: white;
	color: var(--robins-egg-blue);
}

.active-contact,
.inactive-contact:hover,
#contact-section  {
	background-color: var(--robins-egg-blue);
	color: white;
}

a { 
	color: var(--deep-plum); 
}

img {
	max-height: 100px;
}

section {
	padding: 50px;
	background-color: var(--heather-blue);
	height: 100%;
}

.hidden {
	display: none;
}