*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
	--teal: #47e5bb;
	--purple: #7d61f9;
	--deep-purple: #724cf9;
	--gray: #dfe9f7;
	--heather-blue: #6391dd;
	--robins-egg-blue: #66d3f4;
	--deep-plum: #281f51;
}

body {
	background-color: var(--gray);
	font-family: sans-serif;
}

a { 
	color: var(--deep-plum); 
}

img {
	max-height: 100px;
}

section {
	padding: 50px;
}

#main {
	background-color: var(--teal);
}

#apply {
	background-color: var(--heather-blue);
}

#learn {
	background-color: var(--purple);
}

#contact {
	background-color: var(--robins-egg-blue);
}